@charset "utf-8";
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap);

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #FAFAFA;
    font-family: 'Poppins';
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

form {
    font-size: 0;
    width: 90%;
    max-width: 900px;
    height: 95%;
    max-height: 506px;
    margin: 2.5% auto 2.5%;
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1px #AFAFAF;
}

header,
section {
    display: inline-block;
    min-width: 200px;
    font-size: 16px;
    vertical-align: top;
}

header {
    width: 300px;
    height: 100%;
    overflow-y: hidden;
}

#header {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    overflow-y: auto;
}

#header::-webkit-scrollbar {
    width: 3px;
}

#header::-webkit-scrollbar-thumb {
    background-color: #F1F1F1;
}

section {
    width: calc(100% - 300px);
    height: 100%;
}

form > * * {
    display: block;
}

#header > *,
#toggle {
    width: calc(100% - 40px);
    margin: 0 20px;
}

#header > label {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 600;
}

#header > label:first-child {
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

input {
    border: #FFFFFF;
    height: 30px;
    margin-top: 0;
    border-bottom: 2px solid #DFAFAF;
}

input::placeholder {
    font-family: 'Poppins';
    font-size: 10px;
    color: #AFAFAF;
}

input:focus {
    border-bottom: 2px solid #028482;
    outline: none;
}

#header > label::after {
    position: relative;
    margin-top: 0;
    top: 30px;
    content: '';
    display: block;
    width: 15%;
    border-bottom: 2px solid #028482;
}

#header > button {
    margin-top: 30px;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 0.2em;
    text-align: center;
    color: #FFFFFF;
    background-color: #028482;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #AFAFAF;
}

#toggle,
#toggle-header {
    display: none;
}

@media only screen and (max-width: 870px) {
    form {
        width: 95%;
        max-height: calc(506px + 20%);
    }
}

@media only screen and (max-width: 640px) {
    form {
        width: 98%;
        max-height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    form > * {
        display: block;
        width: 100%;
    }

    header {
        position: relative;
        height: 40px;
        max-height: none;
        transition: height .3s;
    }

    iframe {
        height: calc(100% - 40px);
    }

    #header {
        opacity: 0;
    }

    #toggle {
        position: absolute;
        color: #028482;
        bottom: 10px;
        display: block;
        text-align: center;
        font-size: 24px;
        line-height: 24px;
    }

    #toggle::after {
        content: none;
    }

    #toggle-header:checked + header {
        height: 70%;
        transition: height .3s;
    }

    #toggle-header:checked ~ section > iframe {
        height: 30%;
        transition: height 0s linear 1s;
    }

    #toggle-header:checked + header #header {
        opacity: 1;
    }

    #toggle i {
        transition: transform .5s;
        cursor: pointer;
    }

    #toggle-header:checked + header #toggle i {
        transform: rotate(180deg);
        transition: transform .5s;
    }

    @media only screen and (max-height: 700px) {
        #toggle-header:checked + header {
            height: 90%;
        }
    }
}